body {
}
.trstyle{
    width:800px;
    height:25px;
    color:white;
    font-family:'Microsoft YaHei UI';
    font-size:12px;
}
.tdstyle_title{
    width:450px;
    height:25px;
    color:white;
    font-family:'Microsoft YaHei UI';
    font-size:12px;
}
.tdstyle_time{
    width:90px;
    height:25px;
    color:white;
    font-family:'Microsoft YaHei UI';
    font-size:12px;
}
.tdstyle_author{
    width:100px;
    height:25px;
    color:white;
    font-family:'Microsoft YaHei UI';
    font-size:12px;
}
.tdstyle_read{
    width:70px;
    height:25px;
    color:white;
    font-family:'Microsoft YaHei UI';
    font-size:12px;
}
.tdstyle_download{
    width:70px;
    height:25px;
    color:white;
    font-family:'Microsoft YaHei UI';
    font-size:12px;
}
.wrapper
{
    width:785px;
    margin:0px;
}